#head_con{
    border: 1px solid black;
    border-bottom: none !important;
    background-color:lightgray;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom:20px;
    padding-left: 50px;
    width:1000px
}
.content{
    margin-left: 300px;
    display:flex;
    flex-wrap: wrap;
}
.content_2{
    margin-left:0;
    display:flex;
    flex-wrap:wrap;
}

.box_1{
    line-height: 35px;
}
#img_1{
    margin-left:0;
    margin-right: 40px;
    width:180px;
    height:150px;
}
.border{
    margin-left:250px;
    padding-top:30px;
    margin-bottom:20px;
    border-bottom:1px solid black;
    width:900px;
}

